language: node_js
node_js:
- "stable"
cache: npm

before_script: chmod 0777 ./node_modules/.bin/mocha

script:
  - npm run lint
  - npm run test:coveralls

deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_TOKEN
  keep_history: true
  local_dir: UI
  on:
    branch: master

notifications:
  email: false
