body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background-color: #d3e3fc;
}

aside{
  position: absolute;
  background-color: #00887a;
  border-radius: 5px;
  margin: 20px;
  width: 66px;
  border: #00887a solid 1px;
  overflow: hidden;
  transition: width 800ms;
}

.container{
    width: 80%;
    margin: auto;
    overflow: auto;
}

.pull-right{
    float: right;
}
  /* Header **/
  header{
    background:#77a6f7;
    color:#ffffff;
    padding-top:5px;
    min-height:45px;
    border-bottom:#ffccbc 3px solid;
  }

  header ul{
    padding:0;
    margin: 0;
    background-color:#ffccbc;
  }
  
  header li{

    list-style: none;
    background-color:#ffccbc;
    font-size:16px;
    margin-left: 10px;
  }

.divider{
    height: 1px;
    background-color: #00887a;
    margin:0;
  }

  header li a{
    color:#00887a;
    text-decoration:none;
    text-align: center;
  }
    
  header #main-logo{
    float:left;
  }
  
  header #main-logo h1{
    margin:0;
    text-transform: uppercase;
  }
  
  header img{
    height: 35px;
    border-radius: 50%;
    border: #ffccbc solid 2px;
  }
  
  header .highlight, header .active a{
    color:#ffccbc;
    font-weight:bold;
  }
  
  header a:hover{
    color:#05685e;
    font-weight:bold;
  }

  /* main-pane */
  article#main-pane{
    float:right;
    width:65%;
  }
  
  footer{
    padding:10px;
    color:#ffffff;
    background-color:#00887a;
    text-align: center;
  }

  footer p{
      margin:0
  }
/*Authentication*/
.auth-content{
    border: #ffccbc solid 1px;
    width: 400px;
    border-radius: 20px;
    margin:auto;
    padding: 20px;
    margin-top:150px;
    background-color: #77a6f7;
}

.form-title{
    color:#ffffff;
    margin-bottom: 10px;
}

.form-control{
    width:97%;
    margin-bottom: 20px;
    height: 35px;
    padding-left: 3%;
    font-size:15px;
    border: #ffccbc solid 1px;
}

.form-text{
  width: 96%;
  height: 120px;
  margin-bottom: 20px;
  padding-left: 3%;
  font-size:15px;
  border: #ffccbc solid 1px;
}

.pull-right{
    float: right;
}

.well-default {
  width: 80%;
  min-height: 500px;
  /*min-width: 320px;*/
  height: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  display: flex;
}

.well-content {
  width: 41%;
  margin-left: 3%;
  height: auto;
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.19), 1px 1px 2px 2px rgba(0, 0, 0, 0.23);
  display: inline-flex;
  flex-direction: column;
}


.dashboard{
  display: block;
}

.transactions{
  display: none;
}

.info-header{
  color: #00887a;
  margin: 5px;
  font-size: 18px;
}

.add-btn i:hover{
  color: #ffccbc;
}

.info-card{
  width: 90%;
  margin: 10px;
  border: #00887a solid 2px;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: -1px 1px 3px 0px #77a6f7;
}

.info-card i{
  margin-top: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: #00887a;
}

.info-card i:hover{
  color:#ffccbc;
}

.info-card p span{
  width: 50px;
}

h1{
  width: 100%;
  text-align: center;
  margin:0;
}
h1 span{
  padding-left: 10px;
  color: #00887a;
}

h1 i{
  color: #064b44;
  font-size: 24px;
  font-weight: 900;
}
.btn-primary{
    width: 100%;
    background-color: #00887a;
    color:#ffffff;
    border: none;
    height: 40px;
    font-size: 18px;
}
.btn-primary:hover{
    background-color:#05685e ;
}

.forget-password{
    font-size:13px;
    margin-bottom: 20px;

}

.sign-up{
    color: #ffffff;
    margin-top: 20px;
}

.subtitle{
    color: #064b44;
}
.auth-logo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #77a6f7;
    border-radius: 5px;
    width: 30%;
    position: relative;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #00887a;
  }
  .popup .close:hover {
    color:#064b44;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .form-link{
      text-decoration: none;
      color: #064b44;
  }

.form-link:hover{
    text-decoration: underline;
}

/*Tooltip*/
.con-tooltip {
    position: relative;   
    padding: 0 10px;  
    display: inline-block;
    cursor: pointer;
  
  }

.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 100px;
    padding: 0;
    background: #00887a;
    color: #ffffff;
    position: absolute;
    top:-20%; 
    left:-170%;
    border-radius: 9px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  }
  .tooltip p{
      margin: 9px;
  }
/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #00887a transparent transparent transparent;
    position: absolute;
    top:40%;
    left:90%;
    transform: rotate(-90deg);
  }
  
.con-tooltip:hover .tooltip{
    visibility: visible;
    opacity: 1;
  }

/*side menu style*/
aside ul{
  padding: 8px 0;
  margin: 0;
}
aside ul li{
  list-style: none;
  padding: 4px 12px 0px 22px;
  background-color: #ffffff;
}

aside ul li:hover{
  background-color: #77a6f7;
}

aside ul li.active{
  background-color: #77a6f7;
  border-left: #ffccbc solid 6px;
  padding-left: 16px;
}

aside ul li:hover>span{
  color: #ffffff;
}

aside ul li.active>span{
  color: #ffffff;
}

.separator{
  height: 8px;
  padding:0;
  background-color: #00887a;
}

aside i{
  font-size: 25px;
  color: #064b44;
}

aside span{
  padding-left: 21px;
  font-size: 18px;
  text-transform: uppercase;
  color: #00887a;
  position: absolute;
}

aside:hover{
  width: 200px;
}

.info-card table{
  width: 80%;
  float: left;
  border: none;
  margin-top:10px;
  padding-bottom: 10px;
  background: none;
  box-shadow: none !important; 
}

.info-card td{
  text-align: left;

}

/*table style*/
table{
  border: #00887a solid 2px;
  border-radius: 5px;
  padding: 2px;
  margin:auto;
  margin-top: 20px;
  background-color: #d3e3fc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

table th{
  padding: 8px;
  font-weight: normal;
  font-size: 19px;
  background-color: #00887a;
  color: #ffffff;
  width: 10%;
}

table th.num{
  width: 2%;
}

table tr:hover td{
  background-color:#77a6f7;
  color:#ffffff;
}

table td{
  background-color:#ffffff;
  color: #064b44;
  padding: 4px;
  text-align: center;
}

select{
  margin-left: 5px;
  height: 36px;
  border: #00887a solid 2px;
  font-size: 18px;
  color: #064b44;
  border-radius: 5px;
}

select option[disabled] {
  display: none;
}

select option{
  font-size: 15px;
  padding: 5px 0;
}

div .create-an-account{
  border: #00887a solid 1px;
  width: 100px;
}

.user{
  visibility: hidden;
  background-color: white;
  color: black;
  display: block;
  z-index: 3;
  min-width: 130px;
  margin-top: 47px;
  position: absolute;
  right: 8%;
}

.logout-dropdown{
    display: none;
}


/*body {
  background: #9bc86a;
  font: 400 14px 'Calibri', 'Arial';
  padding: 20px;
}
blockquote {
  color: white;
  text-align: center;
}
*/
/* 
  
  @media #{$gl-xs}              {
    
    table					              { display:block;
      > *,tr,td,th              { display:block }
      
      thead                     { display:none }
      tbody tr                  { height:auto; padding:8px 0;
        td                      { padding-left:45%; margin-bottom:12px;
          &:last-child          { margin-bottom:0 }
          &:before              { 
            position:absolute;
            font-weight:700;
            width:40%;
            left:10px;
            top:0
          }
          
          &:nth-child(1):before { content:"Code";}
          &:nth-child(2):before { content:"Stock";}
          &:nth-child(3):before { content:"Cap";}
          &:nth-child(4):before { content:"Inch";}
          &:nth-child(5):before { content:"Box Type";}
        }        
      }
    }
  } 

  
  
  
  
  @media (max-width: 768px) {
    h1 {
      width: 96%;
    }
  }
  
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
    */ 	