body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
}
.container{
    width: 80%;
    margin: auto;
    overflow: auto;
}

.pull-right{
    float: right;
}
  /* Header **/
  header{
    background:#77a6f7;
    color:#ffffff;
    padding-top:5px;
    min-height:45px;
    border-bottom:#ffccbc 3px solid;
  }

  header ul{
    padding:0;
    margin: 0;
    background-color:#ffccbc;
  }
  
  header li{

    list-style: none;
    background-color:#ffccbc;
    font-size:16px;
    margin-left: 10px;
  }

.divider{
    height: 1px;
    background-color: #00887a;
    margin:0;
  }

  header li a{
    color:#00887a;
    text-decoration:none;
    text-align: center;
  }
    
  header #main-logo{
    float:left;
  }
  
  header #main-logo h1{
    margin:0;
    text-transform: uppercase;
  }
  
  header img{
    height: 35px;
    border-radius: 50%;
    border: #ffccbc solid 2px;
  }
  
  header .highlight, header .active a{
    color:#ffccbc;
    font-weight:bold;
  }
  
  header a:hover{
    color:#05685e;
    font-weight:bold;
  }

  /* Sidebar */
aside#sidebar{
    float:left;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* main-pane */
  article#main-pane{
    float:right;
    width:65%;
  }
  
  footer{
    padding:10px;
    color:#ffffff;
    background-color:#00887a;
    text-align: center;
  }

  footer p{
      margin:0
  }
/*Authentication*/
.auth-content{
    border: #ffccbc solid 1px;
    width: 400px;
    border-radius: 20px;
    margin:auto;
    padding: 20px;
    margin-top:150px;
    background-color: #77a6f7;
}

.form-title{
    color:#ffffff;
    margin-bottom: 10px;
}

.form-control{
    width:97%;
    margin-bottom: 20px;
    height: 35px;
    padding-left: 3%;
    font-size:15px;
    border: #ffccbc solid 1px;
}

.pull-right{
    float: right;
}

.btn-primary{
    width: 100%;
    background-color: #00887a;
    color:#ffffff;
    border: none;
    height: 40px;
    font-size: 18px;
}
.btn-primary:hover{
    background-color:#05685e ;
}

.forget-password{
    font-size:13px;
    margin-bottom: 20px;

}

.sign-up{
    color: #ffffff;
    margin-top: 20px;
}

.subtitle{
    color: #064b44;
}
.auth-logo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #77a6f7;
    border-radius: 5px;
    width: 30%;
    position: relative;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #00887a;
  }
  .popup .close:hover {
    color:#064b44;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .form-link{
      text-decoration: none;
      color: #064b44;
  }

.form-link:hover{
    text-decoration: underline;
}

/*Tooltip*/
.con-tooltip {
    position: relative;   
    padding: 0 10px;  
    display: inline-block;
    cursor: pointer;
  
  }

.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 100px;
    padding: 0;
    background: #00887a;
    color: #ffffff;
    position: absolute;
    top:-20%; 
    left:-170%;
    border-radius: 9px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  }
  .tooltip p{
      margin: 9px;
  }
/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #00887a transparent transparent transparent;
    position: absolute;
    top:40%;
    left:90%;
    transform: rotate(-90deg);
  }
  
.con-tooltip:hover .tooltip{
    visibility: visible;
    opacity: 1;
  }

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}



/*table style*/
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #f64976;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
@media screen and (max-width: 35.5em) {
  table {
    display: block;
 }
  table > *, table tr, table td, table th {
    display: block;
 }
  table thead {
    display: none;
 }
  table tbody tr {
    height: auto;
    padding: 8px 0;
 }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
 }
  table tbody tr td:last-child {
    margin-bottom: 0;
 }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
 }
  table tbody tr td:nth-child(1):before {
    content: "Code";
 }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
 }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
 }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
 }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
 }
}


.user{
  visibility: hidden;
  background-color: white;
  color: black;
  display: block;
  z-index: 3;
  min-width: 130px;
  margin-top: 47px;
  position: absolute;
  right: 8%;
}

.dropdown{
    display: none;
}
/*body {
  background: #9bc86a;
  font: 400 14px 'Calibri', 'Arial';
  padding: 20px;
}
blockquote {
  color: white;
  text-align: center;
}
*/
/* 
  
  @media #{$gl-xs}              {
    
    table					              { display:block;
      > *,tr,td,th              { display:block }
      
      thead                     { display:none }
      tbody tr                  { height:auto; padding:8px 0;
        td                      { padding-left:45%; margin-bottom:12px;
          &:last-child          { margin-bottom:0 }
          &:before              { 
            position:absolute;
            font-weight:700;
            width:40%;
            left:10px;
            top:0
          }
          
          &:nth-child(1):before { content:"Code";}
          &:nth-child(2):before { content:"Stock";}
          &:nth-child(3):before { content:"Cap";}
          &:nth-child(4):before { content:"Inch";}
          &:nth-child(5):before { content:"Box Type";}
        }        
      }
    }
  } 

  
  
  
  
  @media (max-width: 768px) {
    h1 {
      width: 96%;
    }
  }
  
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
    */ 	